# Pisahkan URL menggunakan koma atau baris baru.
QUIZ_URLS=https://kahoot.it/challenge/01392811,https://kahoot.it/challenge/08318819,https://kahoot.it/challenge/04403350,https://kahoot.it/challenge/06820818,https://kahoot.it/challenge/0112632,https://kahoot.it/challenge/09148226,https://kahoot.it/challenge/09085530,https://kahoot.it/challenge/02884880,https://kahoot.it/challenge/06210896,https://kahoot.it/challenge/03757229,https://kahoot.it/challenge/0909854,https://kahoot.it/challenge/03091166,https://kahoot.it/challenge/01847715,https://kahoot.it/challenge/0728682,https://kahoot.it/challenge/05578234

# sticky = browser yang sama tetap mendapat set yang sama selama 8 jam
# random = setiap akses /go melakukan pengacakan ulang
ASSIGNMENT_MODE=random

ASSIGNMENT_TTL_MINUTES=30